* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text: rgb(115, 5, 129); 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;          
}

header {
    background-image: url(../images/whey-protein-powder.jpg); 
    background-size: 100% auto; 
    font-size: xx-large;
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100vw; 
    padding: 50px; 
}

header nav ul {
    list-style: none;
    color: var(--text);
}

header nav ul li {
    display: inline-block;
}

.welcome {
    text-align: center;   
    color: var(--text); 
}

.cont {
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
}